@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');           /*FUENTE OSWALD GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');        /*FUENTE OPEN SANS GOOGLE*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700;900&display=swap');


/*HEREDAMOS ESTILOS CSS DE ARCHIVOS EXTERNOS*/
@import url('./header.css');
@import url('./footer.css');
@import url('./home.css');
@import url('./sidebar.css');
@import url('./admin/menu/lista_menu.css');
@import url('./admin/styleAdmin.css');


/*VARIABLES DE FUENTES, COLOR, ETC QUE SE USAN MULTIPLES VECES*/
:root{
    --color-text-negro: #000103;
    --color-text-negro-bajo: #212529;
    --color-text-input: #707070;
    --color-brd-input: #7070708c;
    --color-blanco: #ffff;
    --color-vino: #370617;
    --color-vino-50: #3706177c;
    --color-amarillo: #f48c06;
    --color-amarillo-principal: #ffba08;
    --color-naranja: #e85d04;
    --color-naranja-bajo: #f48c08;
    --color-rojo: #d00000;
    --color-rojo-oscuro: #9d0208;
    --color-azul-fuerte: #03071E;

    --bg-admin: #E2E7F1;
    --bg-admin-hv: #d3d7dd;


    --amarillo: #f48c06;
    --azul-fuerte: #03071E;
    --azul-opacity-50: #03071e88;
    --blanco: #ffff;
    --bg-dark: #212529;
    --color-aprobado: #65bd08;
    --color-reprobado: #c1121f;
    --color-reprobado-alert: #DC2F2F;

    /* Banchscrich FUENTE */
    --Banchscrich-font: 'Roboto', sans-serif; 
        --weigth-BH-normal: 400;
        --weigth-BH-ligth: 300;
        --weigth-BH-extra-ligth: 100;
        --weigth-BH-bold: 700;

    /* FRANKLIN FUENTE */
    --fuente-FRANKLIN: 'Libre Franklin', sans-serif;
    --franklin-font: 'Libre Franklin', sans-serif;
        --weight-FKlin-700: 700;
        --weigth-Flin-900: 900;


    /*FUENTE "OSWALD" (GRANDE PRINCIPAL)*/
    --fuente-OSWALD: 'Oswald', sans-serif;
    --weigth-OSWALD-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
    --weigth-OSWALD-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OSWALD */
    --weigth-OSWALD-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OSWALD */
    --weigth-OSWALD-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OSWALD */


    /*FUENTE "OPEN SANS" (PARA TEXTOS. PARRAFOS O ETIQUETAS)*/
    --fuente-OPENSANS: 'Open Sans', sans-serif;
    --weigth-OPENSANS-LIGTH-300: 300;             /* ANCHO DE LETRA FINA DE OSWALD */
    --weigth-OPENSANS-REGULAR-400: 400;           /* ANCHO DE LETRA NORMAL DE OPEN SANS */
    --weigth-OPENSANS-SEMIBOLD-600: 600;          /* ANCHO DE LETRA SEMI ANCHA DE OPEN SANS */
    --weigth-OPENSANS-BOLD-700: 700;              /* ANCHO DE LETRA ANCHA DE OPEN SANS */
}


body{
    margin: 0;
    padding: 0;
}

/* LOADING */
.loading{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/public/pictures/loading.gif') 50% 50% no-repeat rgb(255, 255, 255);
    opacity: 90%;
}


/*-----------MENSAJE DE ADD O NOT ADD A LA BOLSA*/
.box-sms{
    background-color:#fff;
    color: var(--color-text-negro);
    font-family: var(--fuente-OPENSANS);
    font-weight: var(--weigth-OPENSANS-SEMIBOLD-600);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px #000;
    transition: all ease .5s;
    
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 100;
    visibility: hidden;
}
    .box-sms.active{
        visibility: visible;
    }
    .txt-sms{
        display: flex;
        align-items: center;
    }
    .txt-sms.aprobado>i{
        padding-left: 10px;
        color: var(--color-aprobado);    
    }
    .txt-sms.reprobado>i{
        padding-left: 10px;
        color: var(--color-reprobado);    
    }
    .box-sms .lay{
        width: 12px;
        height: 12px;
        background-color: #fff;
        transform: rotate(45deg);
        
        position: absolute;
        top: -5px;
        right: 30px;
    }
