h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.tabla_conte{
    border-collapse: collapse;
    margin: 20px 15%;
    font-size: 1.2rem;
    min-width: 400px;
}
.tabla_conte thead tr{
    background-color: aqua;
    color: white;
    text-align: center;
    font-weight: bold;
}
.tabla_conte th, td{
    padding: 12px 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tabla_conte tbody tr{
    border-bottom: 1px solid #dddddd;
}
.tabla_conte tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.tabla_conte tbody tr:last-of-type{
    border-bottom: 2px solid aqua;
}