<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/estilos.css" type="text/css">
    <title>La Parrilla de Luchín</title>
    <link rel="icon" href="/public/pictures/logo.png"><link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        $(window).load(function() {
            $("#loader").fadeOut('slow');
        });
    </script>
</head>

<body>
    <div id="loader" class="loading"></div>
    <div class="btn-wss-ct">
        <a href=""><i class="fab fa-whatsapp"></i></a>
    </div>
    <header>
        <nav id="navBar" class="nav pdd_border navbar_all">
            <a href="#" id="logo-marca" class="logo">
                <img class="normal" src="/public/pictures/logo.png" alt="Logo luchin">
                <img class="long change-marca" src="/public/pictures/luchin.png" alt="Logo luchin">
            </a>
            <div class="group_btn">
                <button class="btn-menu_nav"><i class="fas fa-bars"></i></button>
            </div>
            <div class="container-items-nav">
                <div class="nav__navegacion">
                    <a href="#" id="boxMenu-Select" class="nav__items">Menú<i class="fas fa-chevron-down"></i></a>
                    <div class="menu-container">
                        <div class="carrousel-menu">
                            <button id="btnPrevious" class="previous-btn"><i class="fas fa-angle-left"></i></button>
                            <div id="catMenuDesp" class="group-items">
                                <a href="menu-productos.html" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/bebida-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Todos los Productos</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/bebida-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Bébidas</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/Hamburguesa-categoria.png" alt=""></div>
                                    <p class="name-cat-menuD">Hamburguesas</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/papas-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Papas</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/carne-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Cortes de Carne</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/sandwich-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Sanduches</p>
                                </a>
                                <a href="" class="item-categoria">
                                    <div class="item-img"><img src="/public/pictures/alitas-cat.png" alt=""></div>
                                    <p class="name-cat-menuD">Alitas</p>
                                </a>


                            </div>
                            <button id="btnNext" class="next-btn"><i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                    <a href="promociones.html" class="nav__items ">Promociones</a>
                    <a href="contactanos.html" class="nav__items">Contáctanos</a>
                </div>
                <div class="nav__botones botones-option">
                    <button class="nav__items--cta login" onclick="AbrirFormulario()">Iniciar Sesión</button>
                    <button class="nav__items--cta register" onclick="AbrirFormulario()">Registrarme</button>
                </div>
            </div>
            <div class="bolsita">
                <a href="mi-bolsa.html"> <img src="/public/pictures/bolsa-borde.png" alt="Carrito de Compra" /> </a>
                <div class="contador">
                    <p class="producto">0</p>
                </div>
            </div>
        </nav>

        <div class="registro loginForm form_autent">
            <div class="colum">
                <button class="login" onclick="AbrirFormulario()"><i class="fas fa-chevron-left"></i></button>
                <img src="/public/pictures/luchin.png" alt="logo luchin">
            </div>
            <form method="POST" action="/send" class="formulario">
                <h1 class="form__titulo">Iniciar Sesión</h1>
                <div class="input-contenedor">
                    <div class="row-input">
                        <p class="col-input"><label>Correo Electrónico</label><input type="email" required name="emailUser"><span class="mnj-error alert-email"></span></p>
                    </div>

                    <div class="row-input">
                        <p class="col-input clm-1">
                            <label>Contraseña</label>
                            <input class="pass1" type="password" required name="firstPass">
                            <span class="mnj-error alert-password1"></span>
                        </p>
                    </div>
                </div>
                <div class="pie-form">
                    <button type="submit" onclick="ComprobarDatos()" class="btn-enviar">Iniciar Sesión</button>
                    <p class="form__link">¿No Tienes Cuenta? <a href="#">Crea una Cuenta </a></p>
                </div>
            </form>
        </div>

        <div class="registro registerForm form_autent">
            <div class="colum">
                <button class="register" onclick="AbrirFormulario()"><i class="fas fa-chevron-left"></i></button>
                <img src="/public/pictures/luchin.png" alt="logo luchin">
            </div>
            <form method="POST" action="/registerUser" class="formulario">
                <h1 class="form__titulo">Crear Cuenta</h1>
                <div class="input-contenedor">
                    <div class="row-input">
                        <p class="col-input clm-1"><label>Nombre</label><input type="text" required name="name">
                            <span class="mnj-error alert-firstName"></span>
                        </p>
                        <p class="col-input clm-2"><label>Apellidos</label><input type="text" required name="apellido">
                            <span class="mnj-error alert-lastName"></span>
                        </p>
                    </div>
                    <div class="row-input">
                        <p class="col-input"><label>Fecha de Nacimiento</label><input type="date" required name="dateNac"><span class="mnj-error alert-dateNacm"></span></p>
                    </div>
                    <div class="row-input">
                        <p class="col-input"><label>Correo Electrónico</label><input type="email" required name="emailUser"><span class="mnj-error alert-email"></span></p>
                    </div>
                    <div class="row-input">
                        <p class="col-input"><label>Número de Teléfono</label><input type="text" required name="telef" maxlength="10"><span class="mnj-error alert-telephone"></span></p>
                    </div>
                    <div class="row-input">
                        <p class="col-input clm-1"><label>Contraseña</label><input class="pass1" type="password" required name="firstPass"><span class="mnj-error alert-password1"></span></p>
                        <p class="col-input clm-2"><label>Confirmar Contraseña</label><input class="pass2" type="password" required name="secondPass"><span class="mnj-error alert-password2"></span></p>
                    </div>
                </div>
                <div class="pie-form">
                    <button type="submit" onclick="ComprobarDatos()" class="btn-enviar">Crear Cuenta</button>
                    <p class="form__link">¿Ya tienes cuenta? <a href="#">Inicia Sesión</a></p>
                </div>
            </form>
        </div>
    </header>


    <main>
        <section class="container-slider">
            <button class="btn-slider-previous"><i class="fal fa-chevron-left"></i></button>
            <button class="btn-slider-next"><i class="fal fa-chevron-right"></i></button>
            <div class="size-slider">
                <button class="icon active"></button>
                <button class="icon"></button>
                <button class="icon"></button>
            </div>
            <div class="txt-slider">
                <p class="hero__subtitulo">¡Bienvenido al Portal!</p>
                <h2 class="hero__titulo">La Parrilla de<h1 class="hero__titulo grand__text">Luchin</h1></h2>
                <p class="hero__subtitulo text">Nos especializamos en carnes preparadas al carbón contamos con personal capacitado en atención al cliente para brindarles el mejor servicio a nuestros clientes</p>                
            </div>
            <ul class="slider-pictures">
                <li><img src="/public/pictures/vino.jpg" alt=""/></li>
                <li><img src="/public/pictures/vino.jpg" alt=""/></li>
                <li><img src="/public/pictures/batidos.jpg" alt=""/></li>
                <li><img src="/public/pictures/hamburguesas.png" alt=""/></li>
            </ul>
        </section>

        <section class="promo-general">
            <div class="head_main_section pdd_border">
                <h1>Promociones</h1>
            </div>
            <div class="contain-promos">
                <a href="#" class="item__promo">
                    <img src="/public/pictures/hamburguesas.png">
                    <div class="detalle">
                        <p class="topic">Hamburguesa Rellena</p>
                        <p class="descrip"><span class="price-new">$9.99</span><span><s>$10.99</s></span></p>
                    </div>
                </a>
                <a href="#" class="item__promo">
                    <img src="/public/pictures/batidos.jpg">
                    <div class="detalle">
                        <p class="topic">Batidos</p>
                        <p class="descrip"><span class="price-new">$2.50</span><span><s>$3.00</s></span></p>
                    </div>
                </a>
                <a href="#" class="item__promo">
                    <img src="/public/pictures/cerveza.png">
                    <div class="detalle">
                        <p class="topic">Cervezas</p>
                        <p class="descrip"><span class="price-new">$1.75</span><span><s>$2.00</s></span></p>
                    </div>
                </a>
            </div>
            <div class="more_promo">
                <a href="promociones.html" class="btn_more_promo">Ver más Promociones</a>
            </div>
        </section>

        <section class="aside-delivery">
            <div class="over">
                <div class="content-infor">
                    <div class="theme">
                        <hr>
                        <p>Servicio Delivery</p>
                        <hr>
                    </div>
                    <div class="detalle_delivery">
                        <p class="detalle-sms">Envíos solo <span>Montecristi</span></p>
                        <p class="price">$3<span>00</span></p>
                        <img src="/public/pictures/delivery.png" />
                    </div>
                </div>
                <div class="public-aside"><img src="/public/pictures/hamburguesas.png" alt=""/></div>
            </div>
        </section>
        <section class="menu__category">
            <div class="head_main_section pdd_border section-topic">
                <h1>Nuestro Menú</h1>
            </div>
            <div class="section_carrousel">
                <button id="btnPrevious" class="previous-btn btn-left"><i class="fas fa-chevron-left"></i></i></button>
                <div id="catMenuDes" class="group_carrousel">
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/bebida-cat.png" alt=""></div>
                        <p class="name-cat">Bébidas</p>
                    </a>
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/Hamburguesa-categoria.png" alt=""></div>
                        <p class="name-cat">Hamburguesas</p>
                    </a>
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/papas-cat.png" alt=""></div>
                        <p class="name-cat">Papas</p>
                    </a>
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/carne-cat.png" alt=""></div>
                        <p class="name-cat">Cortes de Carne</p>
                    </a>
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/sandwich-cat.png" alt=""></div>
                        <p class="name-cat">Sanduches</p>
                    </a>
                    <a href="menu-productos.html" class="item-cat_menu">
                        <div class="item-img"><img src="/public/pictures/alitas-cat.png" alt=""></div>
                        <p class="name-cat">Alitas</p>
                    </a>
                </div>
                <button id="btnNext" class="next-btn btn-rigth"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>

        <section class="location-main">
            <div id="map" class="map">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63826.51149409486!2d-80.69629358598279!3d-1.0432379873241444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x902be555b3991ab1%3A0x6900289d39a0fe14!2sla%20parrilla%20de%20Luchin%20montecristi!3m2!1d-1.043324!2d-80.6612741!5e0!3m2!1ses!2sec!4v1624141824849!5m2!1ses!2sec" height="450" allowfullscreen="" loading="lazy"></iframe> -->
            </div>
        </section>

        </div>
    </main>
    <footer>
        <% for(let i=0; i < detalle.length; i++) { %>     
        <div class="grid-ftt">            
            <div class="box column_grid-ftt">
                <div class="content">
                    <img src="/public/pictures/logo-positivo16x.png" alt="Logo Parrilla de Luchin" />
                    <p class="text"><%= detalle[i].descripcion %></p>
                </div>
            </div>
            <div class="box column_grid-ftt">
                <div class="content">
                    <h2 class="name__categoria">Dirección:</h2>
                    <div>
                        <p class="text"><%= detalle[i].direccion.calle %></p>
                        <p class="text"><span class="weigth"><%= detalle[i].direccion.ciudad %>, <%= detalle[i].direccion.provincia %> - <%= detalle[i].direccion.pais %></span></p>
                    </div>

                    <h2 class="name__categoria">Contáctanos:</h2>
                    <div>
                        <p class="text"><span class="weigth">WhatsApp:</span> <%= detalle[i].contacto.telefono %></p>
                    </div>
                    <div class="email">
                        <p class="text"><span class="weigth">Correo:</span> <%= detalle[i].contacto.email %></p>
                    </div>
                </div>
            </div>
            <div class="box column_grid-ftt">
                <div class="content">
                    <h2 class="name__categoria">Horarios de Atención:</h2>
                    <div>
                        <p class="text"><span class="weigth"><%= detalle[i].horario.dias %></span> <%= detalle[i].horario.horas %></p>
                    </div>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook-f"></i></span></a>
                        <a href="#"><i class="fab fa-instagram"></i></span></a>
                        <a href="#"><i class="fab fa-twitter"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="legend__ftt">
                <p class="credit"><span class="detalle">Derechos Reservados &#169 2021</span> La Parrilla De Luchin</p>
                <p class="credit"><span class="detalle">Developed and Designed for</span> Vinculación Fase 1</p>
            </div>
        </div>
        <% } %>
    </footer>
    <!-- aqui se genera el script de la locacion -->
    <script>
        function iniciarmap(){
            var coordenadas = {lat: -1.0432274557153307 , lng: -80.66127410328676 };
            var map = new google.maps.Map(document.getElementById('map'),{
                zoom: 18,
                center: coordenadas
            });
            var market = new google.maps.Market({
                position: coordenadas,
                map: map
            })
                }

    </script>
    <!-- aqui va el enlace de la api -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarmap"></script>

    <script>
        $(window).scroll(function() {
            if ($('#navBar').offset().top > 200) {
                $('#navBar').addClass('scrolling');
                $('#logo-marca .long').removeClass('change-marca');
                $('#logo-marca .normal').addClass('change-marca');
            } else {
                $('#navBar').removeClass('scrolling');
                $('#logo-marca .normal').removeClass('change-marca');
                $('#logo-marca .long').addClass('change-marca');
            }
        })
    </script>
</body>
<script>
    const btnMenu = document.getElementById('boxMenu-Select');
    const mostrarCategorias = document.querySelector('.menu-container');
    let estadoFuera = false;
    const menuDesplegable = document.querySelector('.menu-container');

    const carrousel = document.getElementById('catMenuDesp');
    const categoriaSize = document.querySelector('#catMenuDesp .item-categoria');
    const botonAntes = document.getElementById('btnPrevious');
    const botonSiguiente = document.getElementById('btnNext');

    const car = document.getElementById('catMenuDes');
    const catSize = document.querySelector('#catMenuDes .item-cat_menu');
    const btnLeft = document.querySelector('.btn-left');
    const btnRight = document.querySelector('.btn-rigth');
    carrouselAutomat();


    //activar y desactivar menu
    btnMenu.addEventListener('click', (boton)=>{
        boton.preventDefault();
        if(!btnMenu.classList.contains('down')){
            btnMenu.classList.add('down', 'active');
            mostrarCategorias.classList.add('active');  
        }else{
            btnMenu.classList.remove('down', 'active');
            mostrarCategorias.classList.remove('active');  
        }
    })

    //logica de carrousel del navbar
    botonSiguiente.addEventListener('click', ()=>{
        carrousel.scrollLeft += categoriaSize.offsetWidth; 
    });
    botonAntes.addEventListener('click', ()=>{
        carrousel.scrollLeft -= categoriaSize.offsetWidth; 
    });

    btnRight.addEventListener('click', ()=>{
        car.scrollLeft += catSize.offsetWidth; 
    });
    btnLeft.addEventListener('click', ()=>{
        car.scrollLeft -= catSize.offsetWidth; 
    });


    //funcion para carrousel automatico del main
    function carrouselAutomat(){
        const elements = document.querySelectorAll('#catMenuDes .item-cat_menu').length;
        let event=0;   
        
        setInterval(() => {
            if(event == elements-3 || event > elements-3){
                setTimeout(() => {
                    car.scrollLeft=0; 
                    event=0;
                }, 1000);
            }else{
                car.scrollLeft += catSize.offsetWidth; 
                event+=1;
            }
        }, 3000);
    }
</script>
<script>
    const btnMenuClick = document.querySelector('.btn-menu_nav');       //boton de menu cuando este en tamaño movil

    function AbrirFormulario(){
        const button = this.document.activeElement;

        if(button.classList.contains('register')){
            const window = document.querySelector('.registerForm');

            if(window.classList.contains('active')){
                window.classList.remove('active');
                window.querySelector('form').reset();
            }else{
                window.classList.add('active');
            }
        }else if(button.classList.contains('login')){
            const window = document.querySelector('.loginForm');

            if(window.classList.contains('active')){
                window.classList.remove('active');
                window.querySelector('form').reset();
            }else{
                window.classList.add('active');
            }
        }
    };

    btnMenuClick.addEventListener('click', ()=>{
        const accionMenu = document.querySelector('.container-items-nav');

        if(btnMenuClick.classList.contains('active')){
            btnMenuClick.classList.remove('active');
            accionMenu.classList.remove('active');

        }else{
            btnMenuClick.classList.add('active');
            accionMenu.classList.add('active');
        }
    })

</script>
<script> 
    const inputsRegister = document.querySelectorAll('.form_autent form input');

    const expresionesRegulares = {
        solotext : /^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
        fecha: /([0-9]){0,2}[/]([0-9]){0,2}[/]([0-9]){4}/g,
        correo : /[a-z\d]+[@]+[a-z]+\.[a-z]{2,}/,
        numeros : /[0-9]{10}/,   
        contraseña: /([0-9\d\w\Sa-zA-Z]{4,16})/,
        espacios : /\s/g
    }


    inputsRegister.forEach(input =>{
        input.addEventListener('keyup', (e) =>{
            let valorCampo = e.target.value;

            switch(e.target.name){
                case 'firstPass':
                    input.value = valorCampo.replace(expresionesRegulares.espacios, '');
                break;
                case 'secondPass':
                    input.value = valorCampo.replace(expresionesRegulares.espacios, '');
                    verificarContraseña(input.parentElement.parentElement);
                break;
            }
        });
        input.addEventListener('blur', (dato)=>{
            let alertaInput = dato.target.nextElementSibling;
            let valueCampo = dato.target.value;
            switch(dato.target.name){
                case 'name':
                    if(valueCampo !== ''){
                        if(expresionesRegulares.solotext.test(dato.target.value)){
                            mostrarAlert(true, alertaInput);
                        }else{
                            mostrarAlert(false, alertaInput, 'Este campo no debe contener números ni caracteres especiales');
                        }
                    }
                break;
                case 'apellido':
                    if(valueCampo !== ''){
                        if(expresionesRegulares.solotext.test(dato.target.value)){
                            mostrarAlert(true, alertaInput);
                        }else{
                            mostrarAlert(false, alertaInput, 'Este campo no debe contener números ni caracteres especiales');
                        }
                    }
                break;
                case 'dateNac':
                    let fecha = new Date(valueCampo);
                    let añoActual = new Date().getFullYear();

                    if(valueCampo !== ''){
                        if(isNaN(fecha.getDay()) || isNaN(fecha.getMonth()) || isNaN(fecha.getFullYear()) ){
                            mostrarAlert(false, alertaInput, 'Fecha de Nacimiento es un campo requerido');
                        }else if(fecha.getFullYear() > (añoActual-12)){
                            mostrarAlert(false, alertaInput, 'Tu fecha de Nacimiento nos indica que no eres mayor 12 años, lo sentimos');
                        }else{
                            mostrarAlert(true, alertaInput);
                        }
                    }
                break;
                case 'emailUser':
                    if(valueCampo !== ''){
                        if(expresionesRegulares.correo.test(valueCampo)){
                            mostrarAlert(true, alertaInput);
                        }else{
                            mostrarAlert(false, alertaInput, 'El correo que ingresaste no es válido');
                        }
                    }
                break;
                case 'telef':
                    if(valueCampo !== ''){
                        if(expresionesRegulares.numeros.test(valueCampo)){
                            mostrarAlert(true, alertaInput);
                        }else{
                            mostrarAlert(false, alertaInput, 'El nuúmero de telefono no es correcto');
                        }
                    }
                break;
                case 'firstPass':
                    if(valueCampo !== ''){
                        if(expresionesRegulares.contraseña.test(valueCampo)){
                            mostrarAlert(true, alertaInput);
                        }else{
                            mostrarAlert(false, alertaInput, 'Su contraseña debe tener al menos 4 y máximo 16 caracteres ');
                        }
                        verificarContraseña(input.parentElement.parentElement);
                    }
                break;            
            }
        })
    })

    const mostrarAlert = (respuesta, campo, mensaje)=>{
        const campoInput = campo;

        if(respuesta == false){
            campoInput.classList.add('active');
            campoInput.innerHTML = `<i class="fas fa-exclamation-circle"></i> <span>${mensaje}</span>`;
        }else{
            campoInput.classList.remove('active');
        }
    }

    function verificarContraseña(contenedor){
        const contraseña1 = contenedor.querySelector('.pass1');
        const contraseña2 = contenedor.querySelector('.pass2');
        
        if(contraseña2.value !== ''){
            if(contraseña1.value === contraseña2.value){
                mostrarAlert(true, contraseña2.nextElementSibling);
            }else{
                mostrarAlert(false, contraseña2.nextElementSibling, 'Las contraseñas no coinciden');
            }
        }
    }




    function ComprobarDatos(){
        const form = this.document.activeElement.form;
        const inputs = form.querySelectorAll('input');
        let camposllenos = true;
        
        inputs.forEach(input =>{
            if(!input.value){
                camposllenos = false;
            }
        })
        if(!camposllenos)return alert("Existen campos vacios, por favor rellenelos");
    }
</script>
</html>