<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER PLANTILLA</title>
    <link rel="stylesheet" href="/public/css/estilos.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body class="body-admin left-navbr">
    <div id="root">
        <aside class="aside-bar aside">
            <button class="btn__menu" id="button-menu-admin"><i class="fal fa-bars"></i></button>
            <div class="image-navbar">
                <img src="/public/pictures/luchin.png" alt="logo-luchin">
            </div>
            <div class="legend">PRINCIPAL</div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class="icon-item far fa-border-all"></i>
                    <p class="topic-item">Resumen</p>
                    <i class="down-more fas fa-angle-down"></i>
                </a>
                <div class="subitem-aside">
                    <a href="#" class="item-aside-sub active"><p class="topic-item sub">Agregar Plato</p></a>
                    <a href="#" class="item-aside-sub"><p class="topic-item sub">Lista de Menú</p></a>
                </div>
            </div>
            <div class="container-item">
                <a href="#" class="item-aside active">
                    <i class="estado"></i>
                    <i class=" icon-item far fa-burger-soda"></i>
                    <p class="topic-item">Menú</p>
                    <i class="down-more fas fa-angle-down"></i>
                </a>
                <div class="subitem-aside">
                    <a href="#" class="item-aside-sub"><p class="topic-item sub">Lista de Menú</p></a>
                    <a href="#" class="item-aside-sub active"><p class="topic-item sub">Agregar Plato</p></a>
                </div>
            </div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class=" icon-item far fa-bags-shopping"></i>
                    <p class="topic-item">Ordenes</p>
                </a>
            </div>
            <div class="legend">ADMINISTRACIÓN</div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class="icon-item far fa-users"></i>
                    <p class="topic-item">Clientes</p>
                </a>
            </div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class=" icon-item far fa-analytics"></i>
                    <p class="topic-item">Ventas</p>
                </a>
            </div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class=" icon-item far fa-badge-percent"></i>
                    <p class="topic-item">Promociones</p>
                </a>
            </div>
            <div class="container-item">
                <a href="#" class="item-aside">
                    <i class="estado"></i>
                    <i class=" icon-item far fa-poll-people"></i>
                    <p class="topic-item">Empleados</p>
                </a>
            </div>
        </aside>

        <div class="ctn-main-dash">
            <div class="navbar-align">
                <div class="item-navbar">
                    <div class="image">
                        <img src="/public/pictures/user-admin-profilejpg.jpg" alt="">
                    </div>
                    <p class="name_user">Nombre de usuario</p>
                </div>
                <div class="item-navbar">
                    <button type="button" class="btn-unlogin"><i class="fal fa-sign-out"></i></button>
                </div>
            </div>
            <main class="contenido-admin pos-main-rel">    
                <div class="theme-apart">
                    <h2>Lista de Productos</h2>
                    <button type="button" class="button_th_head btn_add_product">Agregar</button>
                </div>
                <section class="container-main">
                    <div class="grid_producto">
                        <div class="card-cat-plt bd__sect">                    
                            <div class="table-listado">
                                <h2 class="title_card_cl sub">Bébidas</h2>
                            </div>
                            <div class="cont_table_card">
                                <table class="table-platillos-card">
                                    <thead>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>  
                                        <% for(let i=0; i < products.length; i++){ %>
                                            <tr>
                                                <td><%= products[i].id %></td>
                                                <td class="detalle-plt"><%= products[i].nombre %></td>
                                                <td class="price"><%= products[i].precio %></td>
                                                <td>
                                                    <button class="button-platillo-edit"><i class="far fa-edit"></i></button>
                                                </td>
                                                <td>
                                                    <button class="button-platillo-delete"><i class="far fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>                    
                        </div>         
                    </div>
                </section>
            </main>
        </div>  
        
        <div class="class-overlay crn_modal_add">
            <div class="modal-reut">
                <div class="head__modal">
                    <h1 class="title_card_cl">Agregar producto al menú</h1>
                    <button class="button-close-modal onclose" type="button"><i class="fal fa-times"></i></button>
                </div>
                <div class="details-modal-inf">
                    <form method="POST" action="/add-producto" class="container-form">
                        <div class="items-form flex">
                            <div class="colum-form-1">
                                <p><label class="labels-dash-sty">Nombre Producto</label><input class="input-dash-sty" type="text" name="nameProduct" placeholder="Ingrese nombre producto" required></p>
                                <p>
                                    <label class="labels-dash-sty">Seleccione una Categoria</label>
                                    <select name="slcCatProduct" class="select-dash-sty" required>
                                        <option value="0">Seleccione Categoria</option>
                                        <% for(let i=0; i < categorias.length; i++){ %>
                                            <option value=<%= categorias[i].id %>><%= categorias[i].nombre %></option> 
                                        <% } %> 
                                    </select>
                                </p>
                                <p><label class="labels-dash-sty">Descripción del Producto</label><textarea name="descripProduct" class="textarea-dash-sty" required></textarea></p>
                            </div>
                            <div class="colum-form-2">
                                <p><label class="labels-dash-sty">Precio Unitario</label><input class="input-dash-sty" name="priceProduct" type="text" placeholder="Ingrese nombre producto" required></p>
                                <p>
                                    <label class="labels-dash-sty">Seleccione una Subcategoria</label>
                                    <select name="slcSubcatProduct" class="select-dash-sty" required>
                                      <option value="0">Seleccione Subcategoria</option>
                                      <% for(let i=0; i < subcategorias.length; i++){ %>
                                            <option value=<%= subcategorias[i].id %>><%= subcategorias[i].nombre %></option> 
                                        <% } %> 
                                    </select>
                                  </p>
                            </div>
                        </div>
                        <div class="row-botones_form">
                            <button class="button_modal cancel onclose" type="button">Cancelar</button>
                            <button class="button_modal submit" type="submit">Agregar Producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script>
        const body = document.getElementById('root');
        const menuBtn = document.querySelector('.btn__menu');
        
        menuBtn.addEventListener('click', ()=>{
            const imageAside = document.querySelector('.image-navbar');

            if(body.classList.contains('left-navbar')){
                body.classList.remove('left-navbar');
                imageAside.innerHTML = '<img src="../Imagenes/luchin.png" alt="logo-luchin">';
            }else{
                body.classList.add('left-navbar');
                imageAside.innerHTML = '<img class="small" src="../Imagenes/logo.png" alt="logo-luchin">';
            }
        })

        document.querySelectorAll('.aside-bar .container-item').forEach(item =>{
            item.addEventListener('mouseenter', (e)=>{
                if(body.classList.contains('left-navbar')){
                    e.target.classList.add('view');
                    if(e.target.lastElementChild.classList.contains('subitem-aside')){
                        e.target.lastElementChild.classList.add('active');
                    }
                }
            });
            item.addEventListener('mouseleave', (e)=>{
                if(body.classList.contains('left-navbar')){
                    e.target.classList.remove('view');
                    if(e.target.lastElementChild.classList.contains('subitem-aside')){
                        e.target.lastElementChild.classList.remove('active');
                    }
                }
            })
        })

        document.querySelectorAll('.aside-bar .container-item .item-aside').forEach(item =>{
            item.addEventListener('click', (e)=>{
                if(!document.body.classList.contains('left-navbar')){
                    const itemClick = this.document.activeElement;
                    const subitem = this.document.activeElement.nextElementSibling;
                    // console.log(this.document.activeElement.nextElementSibling);
                    if(subitem != null){
                        if(subitem.classList.contains('active')){
                            subitem.classList.remove('active');
                            itemClick.classList.remove('view');
                        }else{
                            subitem.classList.add('active');
                            itemClick.classList.add('view');
                        }
                    }
                }
            })
        })



        //abrir y cerrar ventana emergente de agregar productos
        let ventModal = document.querySelector('.crn_modal_add');
        let buttonsModal = document.querySelectorAll('.crn_modal_add .modal-reut button');

        document.querySelector('.btn_add_product').addEventListener('click', ()=>{
            if(ventModal.classList.contains('active')){
                ventModal.classList.remove('active');
            }else{
                ventModal.classList.add('active');
            }
        })

        buttonsModal.forEach(button =>{
            button.addEventListener('click', ()=>{
                if(button.classList.contains('onclose')){
                    ventModal.classList.remove('active');
                }
            })
        })
    </script>
</body>
</html>