<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios - G6</title>
    <link rel="stylesheet" href="/public/css/usuarios.css">
</head>
<body>
    <h1>Usuarios Registrados al Sistema</h1>
    <table id="demo" class="tabla_conte">
        <thead>           
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].Cliente_id %></td>
                <td><%= users[i].Cliente_nombre %></td>
                <td><%= users[i].Cliente_apellido %></td>
                <td><%= users[i].Cliente_telefono %></td>
                <td><%= users[i].Cliente_correo %></td>
                <td><%= users[i].Cliente_contraseña %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>